<div layout="column" style="height:100%;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="LeafletApp" >
  <section layout="row" ng-controller="fweMenuCtrl as fweCtrl">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column">
          <md-toolbar class="md-primary" layout="row" layout-align="center center" >
                <div>
                    FDR Page 
                </div>
          </md-toolbar>
      <md-content>
      <md-content  ng-controller="LeftCtrl" layout="column" >
            
       </md-content>
            <div >
                <div layout="column">
                    <div layout="row"  layout-align="space-between center">
                        <md-input-container flex="">
                            <label>Select forecast layer</label>
                            <md-select ng-model="fweCtrl.selectedLayer" 
                            ng-change="fweCtrl.changeForecastLayer()">
                            <md-option ng-value="$index" ng-repeat="layer in fweCtrl.configData.forecastLayers">{{layer.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>    
                </div>    

                <div layout="row"  layout-align="space-between center">
                    {{fweCtrl.mapData.displayMin}}
                    <img style="width: 100%;height: 20px;" data-ng-src="{{fweCtrl.mapData.colorScaleDataURL}}">
                    {{fweCtrl.mapData.displayMax}}
                </div>

                <div layout="row">
                    <span>Value at pushpin: {{fweCtrl.mapData.valueAtClick | number: 1}}</span>
                </div>

                <div layout="row">
                    <span>Displayed date: </span>
                    <span ng-show="fweCtrl.configData.forecastLayers[fweCtrl.mapData.displayedLayerIndex].daily">{{fweCtrl.mapData.displayedTimeStamp | date:'dd/MM/yyyy'}}</span>
                    <span ng-hide="fweCtrl.configData.forecastLayers[fweCtrl.mapData.displayedLayerIndex].daily">{{fweCtrl.mapData.displayedTimeStamp | date:'dd/MM/yyyy HH:mm'}}</span>
                </div>

                <div layout="row" layout-align="left center" ng-show="fweCtrl.configData.forecastLayers[fweCtrl.mapData.displayedLayerIndex].windDir">
                    Show wind direction <md-switch class="md-raised md-accent" ng-model="fweCtrl.showWindBarbs" ng-change="fweCtrl.updateLayer()">
                </div>

                <h4 align="center">Creation time</h4>
                <div ng-repeat="(state, creationTime) in fweCtrl.mapData.creationTimes">
                    {{state}} {{creationTime | date:'dd/MM/yyyy HH:mm'}}
                </div>

                <div layout="row" layout-align="left center">
                    <span>Opacity </span> <rzslider rz-slider-options="fweCtrl.slider_opacity.options" rz-slider-model="fweCtrl.opacity"></rzslider>
                </div>
                
             </div>
       </md-content>
    </md-sidenav>

    <md-content layout="column" flex="">
      <div layout="column" layout-fill> 

        <div id='mymapdiv' style="width:100%; height:95vh;"></div>

        <div layout="row" width="90%" height="5vh"> 
            <md-button ng-click="toggleLeft()" class="md-accent" hide-gt-md="">Menu</md-button>
            <md-button class="md-accent" ng-click="fweCtrl.decTime()"> &lt; </md-button>
            <md-button class="md-accent" ng-click="fweCtrl.incTime()"> &gt; </md-button>
            <rzslider rz-slider-model="fweCtrl.requestedTimeStep" rz-slider-options="fweCtrl.slider_callbacks.options"></rzslider>
               
      </div>
    </md-content>
  </section>
</div>


